<ul class="foot backgroundWhite">
    <li ui-sref="main" ui-sref-active="select"
            class="displayInlineBlock textAlignCenter">
        <i class="displayInlineBlock icon-position verticalAlignMiddle"></i>
        <span class="verticalAlignMiddle">职位</span>
    </li>
    <li ui-sref="search" ui-sref-active="select"
            class="displayInlineBlock textAlignCenter">
        <i class="displayInlineBlock icon-search verticalAlignMiddle"></i>
        <span class="verticalAlignMiddle">搜索</span>
    </li>
    <li ui-sref="person" ui-sref-active="select"
            class="displayInlineBlock textAlignCenter">
        <i class="displayInlineBlock icon-person verticalAlignMiddle"></i>
        <span class="verticalAlignMiddle">我</span>
    </li>
</ul>