/*颜色变量*/
.backgroundWhite {
  background-color: #fff;
}
.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
.clear {
  clear: both;
}
.displayInlineBlock {
  display: inline-block;
}
.displayBlock {
  display: block;
}
.textAlignLeft {
  text-align: left;
}
.textAlignRight {
  text-align: right;
}
.textAlignCenter {
  text-align: center;
}
.verticalAlignTop {
  vertical-align: top;
}
.verticalAlignBottom {
  vertical-align: bottom;
}
.verticalAlignMiddle {
  vertical-align: middle;
}
.positionAbsolute {
  position: absolute;
}
.positionRelative {
  position: relative;
}
.colorWhite {
  color: white;
}
.colorRed {
  color: red;
}
.position-info {
  border-bottom: 1px solid #d4d4d4;
  padding: 10px 30px 10px 10px;
}
.position-info .ml {
  margin-left: 20px;
}
.position-info img {
  right: 24px;
  top: 60px;
}
