/*颜色变量*/
.backgroundWhite {
  background-color: #fff;
}
.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
.clear {
  clear: both;
}
.displayInlineBlock {
  display: inline-block;
}
.displayBlock {
  display: block;
}
.textAlignLeft {
  text-align: left;
}
.textAlignRight {
  text-align: right;
}
.textAlignCenter {
  text-align: center;
}
.verticalAlignTop {
  vertical-align: top;
}
.verticalAlignBottom {
  vertical-align: bottom;
}
.verticalAlignMiddle {
  vertical-align: middle;
}
.positionAbsolute {
  position: absolute;
}
.positionRelative {
  position: relative;
}
.colorWhite {
  color: white;
}
.button-btn {
  position: fixed;
}
