/*颜色变量*/
.head {
  background-color: #12d5b5;
  height: 1.06666667rem;
  line-height: 1.06666667rem;
  padding: 0 7px;
}
.head .text {
  color: #fff;
}
.head .custom {
  background-color: #feae11;
  color: #fff;
  border: 2px dashed #feae11;
  margin-top: 0.18666667rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}
.back-btn {
  font-size: 20px;
  width: 1rem;
}
.foot {
  border-top: 1px solid #d4d4d4;
  padding: 0;
  margin: 0;
  position: fixed;
  height: 40px;
  line-height: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0;
}
.foot li {
  width: 33.3%;
  font-size: 20px;
  color: #9f9d9e;
}
.foot li.select {
  background-color: #dbf9f4;
  color: #0c12a3;
}
.foot .icon-position {
  background-image: url(../../image/position.jpg);
  width: 25px;
  height: 21px;
}
.foot .icon-search {
  background-image: url(../../image/search.jpg);
  width: 25px;
  height: 21px;
}
.foot .icon-person {
  background-image: url(../../image/person.jpg);
  width: 25px;
  height: 21px;
}
.position-list {
  margin: 0;
  padding: 0;
}
.position-list .item {
  margin: 0;
  padding: 7px 3px;
  list-style: none;
  border-bottom: 1px solid #ddd;
}
.position-list .item .logo {
  width: 65px;
  height: 65px;
  margin-right: 13px;
}
.position-list .item .title {
  margin: 0;
}
.position-list .item .text {
  margin: 0;
}
.position-info {
  border-bottom: 1px solid #d4d4d4;
  padding: 10px 30px 10px 10px;
}
.position-info .ml {
  margin-left: 20px;
}
.position-info img {
  right: 24px;
  top: 60px;
}
.company-info {
  padding: 20px 15px 13px 15px;
  height: 1.6rem;
}
.company-info img {
  width: 1.6rem;
  height: 1.6rem;
  left: 15px;
}
.company-info p {
  margin-left: 70px;
  margin-top: 2px;
}
.position-class {
  background-color: #fff;
  border-top: 1px solid #d4d4d4;
  padding: 13px 9px 5px 9px;
}
.position-class h5 {
  margin: 0 0 35px 0;
}
.position-class button {
  background-color: #def8f5;
  border-radius: 20px;
  padding: 10px 23px;
}
.position-class button.active {
  background-color: #12d5b5;
  color: #fff;
}
.position-class ul {
  border-top: 1px solid #d4d4d4;
  margin: 5px 0 0 0;
  padding: 0;
}
.position-class ul li {
  list-style: none;
}
.position-class ul li span {
  color: red;
  right: 10px;
  top: 20px;
}
.backgroundWhite {
  background-color: #fff;
}
.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
.clear {
  clear: both;
}
.displayInlineBlock {
  display: inline-block;
}
.displayBlock {
  display: block;
}
.textAlignLeft {
  text-align: left;
}
.textAlignRight {
  text-align: right;
}
.textAlignCenter {
  text-align: center;
}
.verticalAlignTop {
  vertical-align: top;
}
.verticalAlignBottom {
  vertical-align: bottom;
}
.verticalAlignMiddle {
  vertical-align: middle;
}
.positionAbsolute {
  position: absolute;
}
.positionRelative {
  position: relative;
}
.colorWhite {
  color: white;
}
.colorRed {
  color: red;
}
.button-btn {
  position: fixed;
  height: 1.2rem;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: #12d5b5;
}
.position-desc {
  margin-top: 10px;
}
.position-desc h5 {
  border-bottom: 1px solid #ccc;
  margin-top: 0;
  margin-left: 10px;
  height: 1.06666667rem;
  line-height: 1.06666667rem;
}
.position-desc pre {
  padding-left: 10px;
  margin-top: 0;
}
/*fs\h\w 函数来做自适应--在不同屏幕上正常显示*/
/*iphone6--width-375px--平局分成10份*/
/*unit--less函数用于将px单位自动转为rem*/
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  font-size: 0.42666667rem;
  background-color: #eee;
}
